<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><h5>Ireland</h5></a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><h5>England</h5></a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><h5>China</h5></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">

      <div id="categories">

        <h3>Near Completion</h3>
        <hr>


        <div id="categories" class="container">
          <div class="col-md-3 thumbnail">
            <a target="_blank" href="https://www.youtube.com/watch?v=kt0g4dWxEBo">
              <%= image_tag("http://m0.dmlimg.com/NzRkZmUyMjNiOTFlOWI2NGE1ZjY1ZjUwZWJlNzAyMTQh2fpLFoJIkj_-uvPz-TkFaHR0cDovL21lZGlhLmRhZnQuaWUvcHJvcGVydHktaW1hZ2UvajFsakx1TWNscVE3TE4zODNzWE9jeXRPZTlGb28yd0IwbHVQdnlJTHpTVnNQVEV3TWpRPS5qcGd8NjA5fHx8fHx8aHR0cDovL3d3dy5kYWZ0LmllL2kvd2F0ZXJtYXJrX2RhZnQucG5nfHx8.jpg", size: "250x200", alt: "Edit Entry") %>
            </a>

            <div class="desc">Beulah (on 1/2 acre site), Wilton, Co. Cork</div>
          </div>

          <div class="col-md-3 thumbnail">
            <a target="_blank" href="https://www.youtube.com/watch?v=g_uoH6hJilc">
              <%= image_tag("http://m1.dmlimg.com/YzAwMzNmYTI2NGVlNmMxYzIzZGVlYWVhYjgxZWNjZTNhBIwhaLO58wg2bopmqdRoaHR0cDovL21lZGlhLmRhZnQuaWUvcHJvcGVydHktaW1hZ2Uvemo1UTdDb0h0Sk5GeUZTVVZHa1ZJdkVhSTA2cTBIMWhWM3cycFVuT2tFMXNQVEV3TWpRPS5qcGd8NjA5fHx8fHx8aHR0cDovL3d3dy5kYWZ0LmllL2kvd2F0ZXJtYXJrX2RhZnQucG5nfHx8.jpg", size: "250x200", alt: "Edit Entry") %>
            </a>

            <div class="desc">9 Summerstown Drive, Wilton, Co. Cork</div>
          </div>

          <div class="col-md-3 thumbnail">
            <a target="_blank" href="https://www.youtube.com/watch?v=kDX4Eezxiyk">
              <img src="http://m0.dmlimg.com/ZGQzZWUxOGMzZGUyNDU0ZDUxMGZmZGFjOTY3MzczYzD0OzE1SGhvvXoKnQ4nQPBYaHR0cDovL21lZGlhLmRhZnQuaWUvcHJvcGVydHktaW1hZ2UvYXlTeFc1bE5IeU5fU2hJVm5laXo4WjBHTTRmbF9IZDA2cGdqaTVZb0VXWnNQVEV3TWpRPS5qcGd8NjA5fHx8fHx8aHR0cDovL3d3dy5kYWZ0LmllL2kvd2F0ZXJtYXJrX2RhZnQucG5nfHx8.jpg" alt="OMI" width="250" height="200">
            </a>

            <div class="desc">"Courtray" Hartlands Road, The Lough, Glasheen, Co. Cork</div>
          </div>

          <div class="col-md-3 thumbnail">
            <a target="_blank" href="https://www.youtube.com/watch?v=mqiH0ZSkM9I">
              <img src="http://m1.dmlimg.com/MDBhMWRkYjA1MGI0YTRkNGQ2OGE5ZDExNzdiZWJhYjAgX9MUub-SqI8cLP56XTgNaHR0cDovL21lZGlhLmRhZnQuaWUvcHJvcGVydHktaW1hZ2UvaVZVb1JGaW9QZTR1LXdFWkxGSVUyT29KUjhFTlcxOVNQemZuczdzNmJZTnNQVEV3TWpRPS5qcGd8NjA5fHx8fHx8aHR0cDovL3d3dy5kYWZ0LmllL2kvd2F0ZXJtYXJrX2RhZnQucG5nfHx8.jpg" alt="JB" width="250" height="200">
            </a>

            <div class="desc">182 Deerpark, Cork City Centre, Co. Cork</div>
          </div>


        </div>

      </div>
    </div>


    <div role="tabpanel" class="tab-pane fade " id="profile">
      <div id="categories" class="container">
        <h3>Projects by Location</h3>
        <hr>

        <div class="col-md-3 thumbnail">
          <a target="_blank" href="https://www.youtube.com/watch?v=kt0g4dWxEBo">
            <img src="http://cdn2.hubspot.net/hub/320745/file-1825042362-jpg/love-from-dublin-2.jpg" alt="RKP" width="250" height="200">
          </a>

          <div class="desc">Dublin</div>
        </div>

        <div class="col-md-3 thumbnail">
          <a target="_blank" href="https://www.youtube.com/watch?v=g_uoH6hJilc">
            <img src="http://goingabroad.org/wp-content/uploads/2014/11/Cork-Ireland.jpg" alt="YY" width="250" height="200">
          </a>

          <div class="desc">Cork</div>
        </div>

        <div class="col-md-3 thumbnail">
          <a target="_blank" href="https://www.youtube.com/watch?v=kDX4Eezxiyk">
            <img src="http://upload.wikimedia.org/wikipedia/commons/8/8a/Galway_Harbour_2007.jpg" alt="OMI" width="250" height="200">
          </a>

          <div class="desc">Galway</div>
        </div>


        <div class="col-md-3 thumbnail">
          <a target="_blank" href="https://www.youtube.com/watch?v=mqiH0ZSkM9I">
            <img src="http://images.fineartamerica.com/images-medium-large/2-king-johns-castle-limerick-ireland-pierre-leclerc.jpg" alt="JB" width="250" height="200">
          </a>

          <div class="desc">Limerick</div>

        </div>
      </div>


    </div>
    <div role="tabpanel" class="tab-pane fade " id="messages">

      <div id="categories" class="container">
        <h3>Projects by Size</h3>
        <hr>

        <div class="col-md-3 thumbnail">
          <a target="_blank" href="https://www.youtube.com/watch?v=g_uoH6hJilc">
            <img src="http://3.bp.blogspot.com/-0PCSzj17djo/U3PJcbsXD1I/AAAAAAAAAaE/PX7VMJ4VJSU/s1600/10000.png" alt="YY" width="250" height="150">
          </a>

          <div class="desc">Up to 10000 euros</div>
        </div>

        <div class="col-md-3 thumbnail">
          <a target="_blank" href="https://www.youtube.com/watch?v=mqiH0ZSkM9I">
            <img src="http://blocs.xtec.cat/anglesceipsplai/files/2013/02/20000-comments.jpg" alt="JB" width="250" height="150">
          </a>

          <div class="desc">Up to 20000 euros</div>
        </div>

        <div class="col-md-3 thumbnail">
          <a target="_blank" href="https://www.youtube.com/watch?v=kDX4Eezxiyk">
            <img src="https://i.vimeocdn.com/video/500827711_640.jpg" alt="OMI" width="250" height="150">
          </a>

          <div class="desc">Up to 30000 euros</div>
        </div>

        <div class="col-md-3 thumbnail">
          <a target="_blank" href="https://www.youtube.com/watch?v=kt0g4dWxEBo">
            <img src="http://worcesterherald.com/wp-content/uploads/2014/06/50000.png" alt="RKP" width="250" height="150">
          </a>

          <div class="desc">Up to 50000 euros</div>
        </div>

      </div>

    </div>
  </div>

</div>