<head>
  <title>Hot Tracks</title>
  <style>
          /*body {*/
          /*background-color: #ffffff*/
          /*}*/

          /*h1 {*/
          /*color: black*/
          /*}*/

          /*h2 {*/
          /*color: black*/
          /*}*/

          /*h3 {*/
          /*color: black*/
          /*}*/
  </style>


</head>

<h1>Near Completion</h1>

<div class="panel panel-primary">
  <div class="panel-heading">Nutgrove Mews,Maryborough Woods,Douglas,Cork</div>

  <div class="panel-body">
    <div class="col-md-4">
      <img src="http://m1.dmlimg.com/YmMwNTRhNjAzYzVkMzJiOTM0YjZiOGVjZjhjMmU5ZWTwY2TLDdWwY7XKTzDiRbrRaHR0cDovL21lZGlhLmRhZnQuaWUvcHJvcGVydHktaW1hZ2UvajMwb2Z0MjBzY1UyYkZjTzA2TS1femlQZVVCWWlPSFNKNEtBbVlFQlAzQnNQVEV3TWpRPS5qcGd8NjA5fHx8fHx8aHR0cDovL3d3dy5kYWZ0LmllL2kvd2F0ZXJtYXJrX2RhZnQucG5nfHx8.jpg" width="370" height="263" alt="Klematis" align="Left">
    </div>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item"><h5>Owner: sadf</h5></li>
        <li class="list-group-item"><h5>Pirce: 100$</h5></li>
        <li class="list-group-item"><h5>Buyer: fasdf</h5></li>
        <li class="list-group-item"><h5>Buy Data: asdf</h5></li>
        <li class="list-group-item"><h5>Repay Data: asdf</h5></li>
      </ul>
    </div>
  </div>
</div>




